<div class="pitch text-center" ng-show="!authenticated">
    <div class="container">
        <div class="pitch-intro">
            <h1>认证中....</h1>
        </div>
    </div>
</div>    
<div class="pitch text-center" ng-show="authenticated">
    <div class="container">
        <div class="pitch-intro">
            <h1 class="wow fadeInDown" data-wow-delay="0.2s">ETH/BTC 地址如下：</h1>
        </div>
        <div class="col-md-16">
            <div class="col-md-6 wow fadeInDown" data-wow-delay="0.2s">
                <div >
                    <qrcode data="{{icoModel.data.eth.bankAddress}}" size="160"></qrcode>
                </div>
                <div class="pitch-content">
                    <h1> ETH </h1>
                    <p>
                        您的以太坊地址：{{icoModel.data.eth.bankAddress}}
                    </p>
                    <a>
                        您的以太坊数量：{{icoModel.data.eth.remain}}
                    </a>
                </div>
            </div>
            <div class="col-md-6 wow fadeInDown" data-wow-delay="0.2s">
                <div>
                    <qrcode data="{{icoModel.data.btc.bankAddress}}" size="160"></qrcode>
                </div>

                <div class="pitch-content">
                    <h1> BTC </h1>
                    <p>
                        您的BTC地址：{{icoModel.data.btc.bankAddress}}
                    </p>
                    <a>
                        您的BTC数量：{{icoModel.data.btc.remain}}
                    </a>
                </div>
            </div>
        </div>
        <div class="pitch-intro">
                <h2 class="wow fadeInDown" data-wow-delay="0.2s">CAN总量：{{icoModel.data.ico.acc.amount}}</h2>
        </div>
        <div class="pitch-content" style="width:100%;Margin:20px;border:1px solid #000">
            <form style="padding-top:20px">
                请输入您的CAN收币地址:
                <input  style="width:50%;text-align:center" ng-disabled="isshowSubmit > 0" type="text" ng-model="icoModel.data.receiveCanAddress">
            </form>
            <label style="color:red;margin-top:5px;" ng-show="icoModel.data.receiveCanAddress.length != 42">CAN地址错误</label>
            <p style="padding-top:20px">你的CAN地址是: {{icoModel.data.receiveCanAddress}}</p>
            <div class="pitch-intro">
                <button  ng-show="isshowSubmit == 0" class="btn btn-action wow fadeInUp"  style="padding-top:20px" ng-click="submitAddress()">提交地址</button>
                <button  ng-show="isshowSubmit > 0" class="btn btn-action wow fadeInUp"  style="padding-top:20px" ng-click="updateAddress()">更新地址</button>
            </div>
        </div>
        <div class="pitch-intro" style="padding-top:20px">
            <button class="btn btn-action wow fadeInUp" ng-click="logout()">退出账号</button>
        </div>
    </div>
</div>
