<div class="pitch text-center" ng-show="!authenticated">
    <div class="container">
        <div class="pitch-intro">
            <h1>认证中....</h1>
        </div>
    </div>
</div>    
<div class="pitch text-center" ng-show="authenticated">
    <div class="container">
        <div class="pitch-intro">
            <h1 class="wow fadeInDown" data-wow-delay="0.2s">ETH/BTC 地址如下：</h1>
        </div>
        <div class="col-md-16">
            <div class="col-md-6 wow fadeInDown" data-wow-delay="0.2s">
                <div >
                    <qrcode data="{{icoModel.data.eth.bankAddress}}" size="160"></qrcode>
                </div>
                <div class="pitch-content">
                    <h1> ETH </h1>
                    <p>
                        您的以太坊地址：{{icoModel.data.eth.bankAddress}}
                    </p>
                    <a>
                        您的以太坊数量：{{icoModel.data.eth.remain}}
                    </a>
                </div>
            </div>
            <div class="col-md-6 wow fadeInDown" data-wow-delay="0.2s">
                <div>
                    <qrcode data="{{icoModel.data.btc.bankAddress}}" size="160"></qrcode>
                </div>

                <div class="pitch-content">
                    <h1> BTC </h1>
                    <p>
                        您的BTC地址：{{icoModel.data.btc.bankAddress}}
                    </p>
                    <a>
                        您的BTC数量：{{icoModel.data.btc.remain}}
                    </a>
                </div>
            </div>
        </div>
        <div class="pitch-intro">
                <h2 class="wow fadeInDown" data-wow-delay="0.2s">CAN总量：{{icoModel.data.ico.acc.amount}}</h2>
        </div>
        <div class="pitch-intro">
            <button class="btn btn-action wow fadeInUp" ng-click="logout()">退出登录</button>
        </div>
    </div>
</div>
