
<div class="hero-section">
    <div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="container">
    
        <div class="col-md-6" style="z-index: -1;">
            <img src="/assets/logos/can.png" height="60" style="width: 95%;height: auto" alt="BST">
            <!--<div class="hero-content">-->
                <!--<h1>Build your custom landing pages with Advent</h1>-->
                <!--<p>-->
                    <!--With a handful of pre made landing page templates and <br class="hidden-xs"> multipurpose blocks you can build your dream website <br class="hidden-xs"> or landing page with the help of Advent.-->
                <!--</p>-->
                <!--<a class="btn btn-primary btn-action btn-round popup wow fadeInUp" data-wow-delay="0.2s" href="#">Know more</a>-->
            <!--</div>-->
        </div>
        <div class="col-md-6">
            <div class="signup-form wow fadeInUp">
                <h1>CAN 是去中心化的内容和广告运营网络.</h1>
                <form name="myForm">
                    <div class="form-group">
                        <label class="sr-only" for="form-name">用户名</label>
                        <input type="text" name="formName" placeholder="输入用户名..."  style="padding-left:15px;border-radius: 4px;" class="form-name form-control" id="form-name" ng-model="signUpModel.data.account" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formName.$dirty && myForm.formName.$error.required">请输入账户名称将会作为登录使用</label>
                                <label ng-show="myForm.formName.$dirty && !myForm.formName.$error.required && !(signUpModel.data.account && signUpModel.data.account.trim().length > 5 )">Please enter at least 6 chars</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="form-first-name">名</label>
                        <input type="text" name="formFirstName" placeholder="名..."  style="padding-left:15px;border-radius: 4px;" class="form-name form-control" id="form-first-name" ng-model="signUpModel.data.firstName" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formFirstName.$dirty && myForm.formFirstName.$error.required">请输入名字</label>
                                <label ng-show="myForm.formFirstName.$dirty && !myForm.formFirstName.$error.required && !(signUpModel.data.firstName && signUpModel.data.firstName.trim().length >= 1 )">Please enter at least 1 chars</label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="sr-only" for="form-last-name">姓</label>
                        <input type="text" name="formLastName" placeholder="姓..."  style="padding-left:15px;border-radius: 4px;" class="form-name form-control" id="form-last-name" ng-model="signUpModel.data.lastName" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formLastName.$dirty && myForm.formLastName.$error.required">请输入姓</label>
                                <label ng-show="myForm.formLastName.$dirty && !myForm.formLastName.$error.required && !(signUpModel.data.lastName && signUpModel.data.lastName.trim().length >= 1 )">Please enter at least 1 chars</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <!-- <label class="" for="form-id-card-number">Choose Your Country</label> -->
                            <span class="input-group-addon" id="basic-addon1">请选择您的国籍</span>
                            <select class="form-control" id="country" ng-model="signUpModel.data.country" ng-options="option.name for option in countries track by option.id">
                                <option label="请选择您的国籍" value="">请选择您的国籍</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-id-card-number">证件号码</label>
                        <input type="text" name="formIdCardNumber" placeholder="证件号码..."  style="padding-left:15px;border-radius: 4px;" class="form-phone form-control" id="form-id-card-number" ng-model="signUpModel.data.idCardNumber" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formIdCardNumber.$dirty && myForm.formIdCardNumber.$error.required">请输入证件号码</label>
                                <label ng-show="myForm.formIdCardNumber.$dirty && !myForm.formIdCardNumber.$error.required && !(signUpModel.data.idCardNumber && signUpModel.data.idCardNumber.trim().length > 2 )">Please enter at least 2 chars</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="form-phone">电话号码</label>
                        <input type="text" name="formPhone" placeholder="电话号码..."  style="padding-left:15px;border-radius: 4px;" class="form-phone form-control" id="form-phone" ng-model="signUpModel.data.phone" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formPhone.$dirty && myForm.formPhone.$error.required">请输入电话号码</label>
                                <label ng-show="myForm.formPhone.$dirty && !myForm.formPhone.$error.required && !(signUpModel.data.phone && signUpModel.data.phone.trim().length > 6 )">Please enter at least 6 chars</label>
                        </div>
                    </div>    
                    
                    <div class="form-group">
                        <label class="sr-only" for="form-email">电子邮件</label>
                        <input type="email" name="formEmail" placeholder="电子邮件地址..."  style="padding-left:15px;border-radius: 4px;" class="form-email form-control" id="form-email" ng-model="signUpModel.data.email" required>
                        <div style="color:red" ng-show="myForm.formEmail.$dirty && myForm.formEmail.$invalid">
                                <label ng-show="myForm.formEmail.$error.required">请输入您的电子邮件</label>
                                <label ng-show="myForm.formEmail.$error.email">电子邮件地址错误</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-phone">密码</label>
                        <input type="password" name="formPassword" placeholder="密码..."  style="padding-left:15px;border-radius: 4px;" class="form-phone form-control" id="form-phone" ng-model="signUpModel.data.password" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formPassword.$dirty && myForm.formPassword.$error.required">请输入密码</label>
                                <label ng-show="myForm.formPassword.$dirty && !myForm.formPassword.$error.required && !(signUpModel.data.password && signUpModel.data.password.trim().length > 8 )">Please enter at least 9 bits</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="agree" ng-model="signUpModel.data.agree">
                            接受<a href="buyer.html" target="_new" style="color:teal;font-weight:bold;">购买者协议</a>
                        </label>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="sr-only" for="form-phone">Confirm</label>-->
                        <!--<input type="password" name="form-phone" placeholder="Confirm Password..." class="form-phone form-control" id="form-phone" ng-model="signUpModel.data.confirm">-->
                        <!--<div style="color:red;margin-top:5px;">-->
                                <!--<label ng-show="signUpModel.data.confirm.trim().length > 0 && (signUpModel.data.password != signUpModel.data.confirm)">Password inconsistency</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <button type="button" class="btn" ng-click="signUpModel.action.signUp(signUpModel.data)" ng-disabled="!(signUpModel.action.validate())">注册!</button>
                    <div>
                        <label style="color:red;margin-top:5px;" ng-show="signUpModel.data.isShowRegisterErr">注册失败，请重试</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
