<!DOCTYPE html >
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="icon" href="../assets/images/title.png" type="image/png" sizes="16x16">
	<title>mobipromo</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="stylesheet" href="assets/css/login.css" />
	<link rel="stylesheet" href="assets/css/icons/icons.css" />
	<link rel="stylesheet" href="assets/css/verification.css">
	<link rel="stylesheet" href="assets/css/coupon.css">
</head>
<body>
	<div class="presale-container">
		<h1>订单信息</h1>
		<div>
			<span>设备名称</span><input type="text" name="device_name" class="device_name" value="星际宝盒" disabled placeholder="设备名称">
		</div>
		<div>
			<i>*</i><span>姓名</span><input type="text" name="username" class="username" placeholder="">
		</div>
		<div>
			<i>*</i><span>电话号码</span><input type="text" name="phone_number" class="phone_number" placeholder="">
		</div>
		<div>
			<i>*</i><span>邮箱</span><input type="text" name="mailbox" class="mailbox" placeholder="">
		</div>
		<div>
			<i>*</i><span>邮编</span><input type="text" name="zip_code" class="zip_code" placeholder="">
		</div>
		<div>
			<!--省份选择-->
			<select id="prov" name="address-level1" style="width:98px;" onchange="showCity(this)">
				<option value="">*省份</option>
			</select>
			<!--城市选择-->
			<select id="city" name="address-level2" style="width:98px;" onchange="showCounty(this)">
				<option value="">*城市</option>
			</select>
			<!--县区选择-->
			<select id="country" name="address-level3" style="width:98px;">
				<option value="">*区县</option>
			</select>
		</div>
		<div>
			<i>*</i><span>详细地址</span><input type="text" name="address-detail" class="address" placeholder="">
		</div>
		<div>
			<i>*</i><span>F码</span><input type="text" name="coupon" class="coupon" placeholder="">
		</div>
		<button id="submit" type="submit" style='background: #458DEF'>确认信息</button>
	</div>
	<div class="dialog dialog-box" style="top:50px;left:300px;display: none;" id="upgrade_dlg">
		<h2 class="dialog-title">订单信息</h2>
		<span class='dialog_warn'>只能填写数字！</span>
		<div class="dlg-content">
			<div tit="1y" class="price" style="border: 1px solid #458DEF">
				<div class="price-date" style="margin-top: 0;">
					<!-- <select name="amount" id="amount" style="width: 100%; margin-top: 0; border-bottom: 1px solid #458DEF;">
						<option value="1">1 台</option>
						<option value="2">2 台</option>
						<option value="3">3 台</option>
						<option value="4">4 台</option>
						<option value="5">5 台</option>
					</select> -->
					<input type="text" name='amount' id='amount' placeholder="该F码最多限购100台">
				</div>
				<div class="price-text">¥
					<label class="userprice">899</label>
				</div>
				<span class="icons">&#xe658;</span>
			</div>
			<div class="dlg-item">
				<div tit="alipay" class="price-paytype ac" style="padding:12px 5px 8px 5px;">
					<span style="font-size:24px;color:#00aaee;" class="icons">&#xe654;</span>
					<span class="icons ico">&#xe658;</span>
				</div>
			</div>
			<div class="dlg-item" style="text-align:right;margin-bottom:0;">
				<button id="zhifu" class="button default">去支付 <label>¥ 899</label></button>
			</div>
		</div>
	</div>
	<div class="dialog dialog-box" style="top:50px;left:300px;display: none;" id="price_dlg">
		<h2 class="dialog-title">订单信息</h2>
		<span class='dialog_warn2'></span>
		<div class="dlg-content">
			<div class="price ac" style="margin-right:0;">
				<div class="price-date">1 台</div>
				<div class="price-text">¥
					<label class="userprice">899</label>
				</div>
				<span class="icons">&#xe658;</span>
			</div>
			<div class="dlg-item">
				<div tit="alipay" class="price-paytype ac" style="padding:12px 5px 8px 5px;">
					<span style="font-size:24px;color:#00aaee;" class="icons">&#xe654;</span>
					<span class="icons ico">&#xe658;</span>
				</div>
			</div>
			<div class="dlg-item" style="text-align:right;margin-bottom:0;">
				<span id="zhifu2" class="button default">去支付 <label>¥ 899</label></span>
			</div>
		</div>
	</div>
	<div class='list'>
		<ul class='list_tradeNum'>
			<li>订单编号</li>
		</ul>
		<ul class='listone'>
			<li>设备名称</li>
		</ul>
		<ul class='listtwo'>
			<li>用户名</li>
		</ul>
		<ul class='list_buyAmount'>
			<li>数量</li>
		</ul>
		<ul class='list_adree'>
			<li>收件地址</li>
		</ul>
		<ul class='list_phone'>
			<li>联系电话</li>
		</ul>
		<ul class='list_price'>
			<li>总金额</li>
		</ul>
		<ul class='list_status'>
			<li>状态</li>
		</ul>
		<div style="clear:both;"></div>
	</div>

	<div id="commodList" class="trade-list">
		<ul v-for="(item, index) in list">
			<li @click="fade" class="clearfix">
				<label class="trade-time">{{ item.createdAt.substring(0, 19).replace('T', ' ') }}</label>
				<label class="trade-num">订单编号：{{ item.tradeNumber }}</label>
				<label>¥ {{ item.totalRmb }}</label>
				<span class="trade-open">
					<!-- <a @click.stop='payagain(item, $event)' class="link title-status" href="javascript:" v-if="item.status == 'wait'">去付款</a> -->
					<label class="title-status">{{ item.status == 'ok' ? '已完成' : item.status == 'cancel' ? '已取消' : item.status == 'close' ? '已关闭' : '待付款' }}</label><i class='icons' style="color:#5C5162;font-size:12px;">&nbsp;&#xe73a;</i>
				</span>
			</li>
			<li>
				<div>设备名称：{{ item.boxName }}</div>
				<div>用户名：{{ item.userName }}</div>
				<div>数量：{{ item.buyAmount }}</div>
				<div>收件地址：{{ item.receivingAddress }}</div>
				<div>联系电话：{{ item.userTel }}</div>
				<div>金额：{{ item.totalRmb }}</div>
				<div>状态：<a href="javascript:" class="link">{{ item.status == 'ok' ? '已完成' : item.status == 'cancel' ? '已取消' : item.status == 'close' ? '已关闭' : '待付款' }}</a></div>
				<div class="operate" style="height: 35px;" v-if="item.status == 'wait'">
					<span style="margin-right:40px;" class="button default" @click="payagain(item, $event)">去付款</span>
					<span style="margin-right:10px;" class="button" @click="cancel(item, $event)">取&nbsp;&nbsp;&nbsp;&nbsp;消</span>
				</div>
			</li>
		</ul>
		<div></div>
		<div class="more_btn" @click='getList'>点击加载更多<i class="icons" style="color:#333; font-size: 12px;">&#xe73a;</i></div>
	</div>
	<div style="margin-top: 20px;margin-bottom: 100px;margin-left: 20%;margin-right: 20%;">
		<span style="text-align: left;display: inherit;">温馨提示：</span>
		<span style="font-size: 12px; line-height: 16px; color: #DB4533; margin-top: 10px; width: auto; display: block; text-align: left;">*1. 请仔细核对购买信息之后确认</span>
		<span style="font-size: 12px; line-height: 16px; color: #DB4533; margin-top: 10px; width: auto; display: block; text-align: left;">*2. 一个F码只能使用一次</span>
		<span style="font-size: 12px; line-height: 16px; color: #DB4533; margin-top: 10px; width: auto; display: block; text-align: left;">*3. 提交订单后24小时内未付款交易会自动关闭，并回收F码</span>
	</div>
	<script src="./assets/js/jquery.min.js"></script>
	<!--背景图片自动更换-->
	<!-- <script src="./assets/js/supersized.3.2.7.min.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="./assets/js/address.js"></script>
	<script src="./assets/js/util.js"></script>
	<script src='./assets/js/coupon.js'></script>
</body>

</html>