#amount {
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #458DEF;
	text-align: center;
}
#amount::-webkit-input-placeholder {
      /* placeholder颜色  */
     color: #aab2bd;
     /* placeholder字体大小  */
     font-size: 12px;
     /* placeholder位置  */
     text-align: center;
 }
.dialog_warn, .dialog_warn2 {
	display: none;
	text-align: center;
	color: #CE584A;
	width: auto;
	font-size: 14px;
}
.more_btn {
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	padding: 0 20px;
}

.trade-list {
	margin: 0 50px;
}
.trade-list ul {
	margin:0;
	background:#fafafa;
}
/* .trade-list ul:nth-child(odd) {
	background:#fafafa;
} */
.trade-list ul:hover {
	background: #eee;
}
.trade-list ul li:first-child {
	padding-left: 20px;
	font-size: 14px;
	line-height: 40px;
	text-align: left;
	position:relative;
	cursor: pointer;
}
.trade-list ul li:nth-child(2) {
	/* display:none; */
	border: 1px solid #f5f5f5;
	background:#fff;
	border-top:none;
	padding-top:10px;
	/* border-bottom: 1px solid #f5f5f5; */
	/* border-top: 1px solid #d0d0d0; */
}
.trade-list ul li .trade-time {
	font-size: 14px;
	font-weight: 600;
	width: 150px;
	display: inline-block;
}
.trade-list ul li .trade-num {
	font-size: 12px;
	display: inline-block;
	width: 250px;
}
.trade-list ul li div {
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}
.trade-list .trade-open {
	float: right;
	width: inherit;
	padding: 0 20px;
	cursor: pointer;
}
.trade-open .title-status {
	display: inline-block;
	padding: 0 10px;
	margin-right: 10px;
}
.operate span{
	float: right;
}