html {
	background: #F5F5F5;

}
body {
	background: #ffffff;
	margin: 0 100px;
	color: #333333;
}
.presale-container {
	padding-top: 50px;
	margin-bottom: 100px;
}
.presale-container .finish {
	display: inline-block;
	color: red;
	margin-top: 20px;
	font-size: 16px;
}
.presale-container .remain {
	display: inline-block;
	color: #969696;
	margin-top: 20px;
	font-size: 16px;
}
.presale-container > div > span {
	display: inline-block;
	width: 100px;
	text-align: right;
}
input {
	border: 1px solid #D0D0D0;
	border-radius: 5px;
	color: #333333;
	background: #ffffff;
	box-shadow: none;
}
select {
	color: #333333;
	background: #ffff;
	box-shadow: none;
	border: 1px solid #D0D0D0;
}
#prov {
	 margin-left: 106px;
}
i {
	text-decoration: none;
	color: red;
}

.btn_ver {
	display: block;
	font-size: 16px;
	line-height: 50px;
	text-decoration: none;
	position: relative;
	top: 50px;
	left: 50%;
	transform: translateX(-50%);
	width: 400px;
	border-radius: 6px;
	background: #DB4533;
	color: #FFFFFF;
	box-shadow: 0 3px 0 #f49811;
	display: none;
}
.btn_coupon {
	display: block;
	position: relative;
	top: 10px;
	left: 100%;
	margin-left: -100px;
	width: 90px;
	font-size: 16px;
	color: #6D6D6D;
	text-decoration: none;
}

#amount {
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #458DEF;
	text-align: center;
}
#amount::-webkit-input-placeholder {
      /* placeholder颜色  */
     color: #aab2bd;
     /* placeholder字体大小  */
     font-size: 12px;
     /* placeholder位置  */
     text-align: center;
 }
.dialog_warn, .dialog_warn2 {
	display: none;
	text-align: center;
	color: #CE584A;
	width: auto;
	font-size: 14px;
}
.more_btn {
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	padding: 0 20px;
}

.trade-list {
	margin: 0 50px;
}
.trade-list ul {
	margin:0;
	background:#fafafa;
}
/* .trade-list ul:nth-child(odd) {
	background:#fafafa;
} */
.trade-list ul:hover {
	background: #eee;
}
.trade-list ul li:first-child {
	padding-left: 20px;
	font-size: 14px;
	line-height: 40px;
	text-align: left;
	position:relative;
	cursor: pointer;
}
.trade-list ul li:nth-child(2) {
	/* display:none; */
	border: 1px solid #f5f5f5;
	background:#fff;
	border-top:none;
	padding-top:10px;
	/* border-bottom: 1px solid #f5f5f5; */
	/* border-top: 1px solid #d0d0d0; */
}
.trade-list ul li .trade-time {
	font-size: 14px;
	font-weight: 600;
	width: 150px;
	display: inline-block;
}
.trade-list ul li .trade-num {
	font-size: 12px;
	display: inline-block;
	width: 250px;
}
.trade-list ul li div {
	padding-left: 20px;
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 20px;
	text-align: left;
}
.trade-list .trade-open {
	float: right;
	width: inherit;
	padding: 0 20px;
	cursor: pointer;
}
.trade-open .title-status {
	display: inline-block;
	padding: 0 10px;
	margin-right: 10px;
}
.operate span{
	float: right;
}

@media screen and (max-width: 768px) {
	body {
		margin: 0 auto;
	}
	.presale-container div {
		padding: 20px;
	}
	.presale-container div>input {
		margin-top: 5px;
	}
	#prov {
		margin-left: 0;
	}
	.list {
		margin-left: 40px;
	}
	.warn {
		line-height:15px;
		margin-left:100px;
	}
	.presale-container .warn:last-child {
		padding-left: 0;
	}
	button {
		margin-left: 18px;
	}
	.pay-method {
		margin-left: 8px!important;
	}

}


	/*正在加载Css*/
	.loading li {
		text-align: center !important;
	}
	.loading li span {
		display: inline-block;
		width: 30px; 
		height: 30px;
		animation: bounce_waiting 1.2s linear infinite;
		transform: scale(0);
		border-radius: 50%;
		margin-top: 15px
	}
	.loading li span:nth-child(2) {
		left: 15px;
		animation-delay: .48s;
	}
	.loading li span:nth-child(3) {
		left: 30px;
		animation-delay: 0.6s;
	}
	.loading li span:last-child {
		left: 45px;
		animation-delay: 0.72s;
	}
	@keyframes bounce_waiting {
		0% {
			transform: scale(1);
			background-color: #458DEF;
		}
		100% {
			transform: scale(0);
			background-color: #ffffff;
		}
	}