<div class="hero-section">
    <div class="row" style="margin-left:0px;margin-right:0px;">
    <div class="container">
    
        <div class="col-md-6" style="z-index: -1;">
            <img src="assets/logos/can.png" height="60" style="width: 95%;height: auto" alt="BST">
            <!--<div class="hero-content">-->
                <!--<h1>Build your custom landing pages with Advent</h1>-->
                <!--<p>-->
                    <!--With a handful of pre made landing page templates and <br class="hidden-xs"> multipurpose blocks you can build your dream website <br class="hidden-xs"> or landing page with the help of Advent.-->
                <!--</p>-->
                <!--<a class="btn btn-primary btn-action btn-round popup wow fadeInUp" data-wow-delay="0.2s" href="#">Know more</a>-->
            <!--</div>-->
        </div>
        <div class="col-md-6">
            <div class="signup-form wow fadeInUp">
                <h1>CAN is designed for decentralized Content and Ad distribution.</h1>
                <form name="myForm">
                    <div class="form-group">
                        <label class="sr-only" for="form-name">Account Name</label>
                        <input type="text" name="formName" placeholder="Enter Your account Name..."  style="padding-left:15px;border-radius: 4px;" class="form-name form-control" id="form-name" ng-model="signUpModel.data.account" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formName.$dirty && myForm.formName.$error.required">Please enter your account name</label>
                                <label ng-show="myForm.formName.$dirty && !myForm.formName.$error.required && !(signUpModel.data.account && signUpModel.data.account.trim().length > 5 )">Please enter at least 6 chars</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="form-first-name">First Name</label>
                        <input type="text" name="formFirstName" placeholder="First Name..."  style="padding-left:15px;border-radius: 4px;" class="form-name form-control" id="form-first-name" ng-model="signUpModel.data.firstName" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formFirstName.$dirty && myForm.formFirstName.$error.required">Please enter your first name</label>
                                <label ng-show="myForm.formFirstName.$dirty && !myForm.formFirstName.$error.required && !(signUpModel.data.firstName && signUpModel.data.firstName.trim().length >= 1 )">Please enter at least 1 chars</label>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="sr-only" for="form-last-name">Last Name</label>
                        <input type="text" name="formLastName" placeholder="Last Name..."  style="padding-left:15px;border-radius: 4px;" class="form-name form-control" id="form-last-name" ng-model="signUpModel.data.lastName" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formLastName.$dirty && myForm.formLastName.$error.required">Please enter your last name</label>
                                <label ng-show="myForm.formLastName.$dirty && !myForm.formLastName.$error.required && !(signUpModel.data.lastName && signUpModel.data.lastName.trim().length >= 1 )">Please enter at least 1 chars</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <!-- <label class="" for="form-id-card-number">Choose Your Country</label> -->
                            <span class="input-group-addon" id="basic-addon1">Select Your Country</span>
                            <select class="form-control" id="country" ng-model="signUpModel.data.country" ng-options="option.country for option in countryList.countries">
                                <option label="Select Your Country" value="">Select Your Country</option>
                            </select>
                        </div>
                        <div style="color:red;margin-top:5px;">
                               <label style="padding-left:2.75em;text-indent:-2.75em;">Note: CAN ICO does not accept buyers from China and United States for legal reasons.</label> 
                               
                            </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-id-card-number">Id Card Number</label>
                        <input type="text" name="formIdCardNumber" placeholder="Id Card Number..."  style="padding-left:15px;border-radius: 4px;" class="form-phone form-control" id="form-id-card-number" ng-model="signUpModel.data.idCardNumber" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formIdCardNumber.$dirty && myForm.formIdCardNumber.$error.required">Please enter your Id Card Number</label>
                                <label ng-show="myForm.formIdCardNumber.$dirty && !myForm.formIdCardNumber.$error.required && !(signUpModel.data.idCardNumber && signUpModel.data.idCardNumber.trim().length > 2 )">Please enter at least 2 chars</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="form-phone">Phone/Mobile number</label>
                        <input type="text" name="formPhone" placeholder="Phone/Mobile number..."  style="padding-left:15px;border-radius: 4px;" class="form-phone form-control" id="form-phone" ng-model="signUpModel.data.phone" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formPhone.$dirty && myForm.formPhone.$error.required">Please enter your Id Card Number</label>
                                <label ng-show="myForm.formPhone.$dirty && !myForm.formPhone.$error.required && !(signUpModel.data.phone && signUpModel.data.phone.trim().length > 6 )">Please enter at least 6 chars</label>
                        </div>
                    </div>    
                    
                    <div class="form-group">
                        <label class="sr-only" for="form-email">Email</label>
                        <input type="email" name="formEmail" placeholder="Email Address..."  style="padding-left:15px;border-radius: 4px;" class="form-email form-control" id="form-email" ng-model="signUpModel.data.email" required>
                        <div style="color:red" ng-show="myForm.formEmail.$dirty && myForm.formEmail.$invalid">
                                <label ng-show="myForm.formEmail.$error.required">Please enter your email</label>
                                <label ng-show="myForm.formEmail.$error.email">email error</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-phone">Password</label>
                        <input type="password" name="formPassword" placeholder="Password..."  style="padding-left:15px;border-radius: 4px;" class="form-phone form-control" id="form-phone" ng-model="signUpModel.data.password" required>
                        <div style="color:red;margin-top:5px;">
                                <label ng-show="myForm.formPassword.$dirty && myForm.formPassword.$error.required">Please enter your password</label>
                                <label ng-show="myForm.formPassword.$dirty && !myForm.formPassword.$error.required && !(signUpModel.data.password && signUpModel.data.password.trim().length > 8 )">Please enter at least 9 bits</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" value="agree" ng-model="signUpModel.data.agree">
                            Agree&nbsp;&nbsp;<a href="buyer.html" target="_new" style="color:teal;font-weight:bold;">Terms And Conditions</a>
                        </label>
                    </div>
                    <!--<div class="form-group">-->
                        <!--<label class="sr-only" for="form-phone">Confirm</label>-->
                        <!--<input type="password" name="form-phone" placeholder="Confirm Password..." class="form-phone form-control" id="form-phone" ng-model="signUpModel.data.confirm">-->
                        <!--<div style="color:red;margin-top:5px;">-->
                                <!--<label ng-show="signUpModel.data.confirm.trim().length > 0 && (signUpModel.data.password != signUpModel.data.confirm)">Password inconsistency</label>-->
                        <!--</div>-->
                    <!--</div>-->
                    <button type="button" class="btn" ng-click="signUpModel.action.signUp(signUpModel.data)" ng-disabled="!(signUpModel.action.validate())">Sign me up!</button>
                    <div>
                        <label style="color:red;margin-top:5px;" ng-show="signUpModel.data.isShowRegisterErr">The registration failed. Please try again</label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
