<div class="hero-section">
    <div class="container nopadding">
        <div class="col-md-7">
            <div class="hero-content">
                <h1>Build your custom landing pages with Advent</h1>
                <p>
                    With a handful of pre made landing page templates and <br class="hidden-xs"> multipurpose blocks you can build your dream website <br class="hidden-xs"> or landing page with the help of Advent.
                </p>
                <a class="btn btn-primary btn-action btn-round popup wow fadeInUp" data-wow-delay="0.2s" href="#">Know more</a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="signup-form wow fadeInUp">
                <h1>Register for free Trial - get 20% off when you Buy</h1>
                <form action="#" method="post" class="registration-form">
                    <div class="form-group">
                        <label class="sr-only" for="form-name">User name</label>
                        <input type="text" name="form-name" placeholder="Enter Your Name..." class="form-name form-control" id="form-name" ng-model="signUpModel.data.account">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-email">Email</label>
                        <input type="email" name="form-email" placeholder="Email Address..." class="form-email form-control" id="form-email" ng-model="signUpModel.data.email">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-phone">Password</label>
                        <input type="password" name="form-phone" placeholder="Password..." class="form-phone form-control" id="form-phone" ng-model="signUpModel.data.password">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="form-phone">Confirm</label>
                        <input type="password" name="form-phone" placeholder="Confirm Password..." class="form-phone form-control" id="form-phone" ng-model="signUpModel.data.confirm">
                    </div>
                    <button class="btn" ng-click="signUp(signUpModel.data)" ng-disabled="!(signUpModel.data.account && signUpModel.data.account.trim().length> 5) || !(signUpModel.data.email) || !(signUpModel.data.password && signUpModel.data.password.trim().length > 8 && signUpModel.data.password == signUpModel.data.confirm)">Sign me up!</button>
                    <p>
                        *We never share your details with anyone and that's a promise
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
