<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="icon" href="../assets/images/title.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/datetimepicker.css">
	<link rel="stylesheet" href="../assets/css/manage/manage.css">
	<title>后台管理中心</title>
	<style type="text/css" media="screen">
		.table tr td:nth-child(4) [data-toggle] {
			padding: 10px 8px;
		}
		.table tr th:nth-child(1), .table tr td:nth-child(1) {
			width: 180px;
		}
		.table tr th:nth-child(2), .table tr td:nth-child(2) {
			width: 80px;
		}
		.table tr th:nth-child(3), .table tr td:nth-child(3) {
			max-width: 100px;
		}
		.table tr th:nth-child(7), .table tr td:nth-child(7) {
			max-width: 150px;
		}
		.tooltip-inner {
			max-width: 500px;
		}
		.clearfix .col-sm-3 {
			padding-right: 0;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel panel-default search-panel">
				<form class="form-inline search-form">
					<div class="row">
						<div class="form-group">
							<label for="trade_number">订单号：</label>
							<input type="text" class="form-control" id="trade_number" style="width:240px;" name="trade_number">
						</div>
						<div class="form-group">
							<label for="account">用户：</label>
							<input type="text" class="form-control" id="account" name="account">
						</div>
						<div class="form-group">
							<label for="status">状态：</label>
							<select class="form-control" name="status" id="status">
								<option value="">全部</option>
								<option value="wait">待付款</option>
								<option value="ok">已付款</option>
								<option value="cancel">已取消</option>
								<option value="close">已关闭</option>
								<option value="refund">已退款</option>
							</select>
						</div>
						<div class="form-group">
							<label for="coupon">使用F码：</label>
							<select class="form-control" name="coupon" id="coupon">
								<option value="">全部</option>
								<option value="0">未使用</option>
								<option value="1">使用</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<label for="time1">创建时间：</label>
							<input type="text" class="form-control" id="time1" name="time1">
							<label for="time2">-</label>
							<input type="text" class="form-control" id="time2" name="time2">
						</div>
					</div>
					<div class="row">
						<div class="form-group btns">
							<span class="btn btn-primary" id="search_btn">搜索</span>
						</div>
						<div class="form-group btns-right pull-right">
							<span class="btn btn-default" id="add_btn">添加订单</span>
							<span class="btn btn-default" id="export_btn" data-toggle="tooltip" title="下载订单列表"><i class="fa fa-download"></i></span>
						</div>
					</div>
				</form>
			</div>
			<!-- Table -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>订单号</th>
						<th>用户</th>
						<th>收货人</th>
						<th>数量</th>
						<th>金额</th>
						<th>状态</th>
						<th>使用F码</th>
						<th>支付类型</th>
						<th>下单时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="example">
					<tr v-for='(item, index) in list'>
						<td>{{ item.tradeNumber }}</td>
						<td>{{ item.account }}</td>
						<td>{{ item.userName }}</td>
						<td>{{ item.buyAmount }}</td>
						<td>{{ item.totalRmb }}</td>
						<td>
							<span class="label" :class="item.status == 'ok' ? 'label-success' : item.status == 'cancel' ? 'label-default' : item.status == 'close' ? 'label-default' : item.status == 'refund' ? 'label-info' : 'label-warning'">
								{{ item.status_ }}
							</span>
						</td>
						<td>{{ !!item.coupon ? item.coupon.code : '' }}</td>
						<td>{{ (item.status == 'refund') ? item.paymentType_ : '' }}</td>
						<td>{{ item.createdAt }}</td>
						<td>
							<button class="btn btn-success btn-xs" @click="detail(index)">详情</button>
							<button v-if="item.status == 'wait' || item.status == 'cancel' || item.status == 'close'" class="btn btn-success btn-xs" @click="gathering(item.tradeNumber, index)">确认收款</button>
							<button v-if="item.status == 'ok'" class="btn btn-success btn-xs" @click="refund(item.tradeNumber, item.totalRmb, index)">退款</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="pager"></div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width:450px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">订单详情</h4>
					</div>
					<div class="modal-body">
						<div class="clearfix" data-tp="tradeNumber">
							<span class="col-sm-3">订单号</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="account">
							<span class="col-sm-3">用户</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="buyAmount">
							<span class="col-sm-3">数量</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="totalRmb">
							<span class="col-sm-3">价格</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="couponCode">
							<span class="col-sm-3">使用F码</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="paymentType_">
							<span class="col-sm-3">支付方式</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="tradeNo">
							<span class="col-sm-3">第三方订单号</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="userName">
							<span class="col-sm-3">收货人</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="userTel">
							<span class="col-sm-3">联系电话</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="receivingAddress">
							<span class="col-sm-3">收货地址</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="status_">
							<span class="col-sm-3">状态</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div class="clearfix" data-tp="createdAt">
							<span class="col-sm-3">下单时间</span>
							<div class="col-sm-9">
								<span></span>
							</div>
						</div>
						<div style="clear:both;"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
		<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width:450px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="addModalLabel">添加订单</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal col-xs-8" id="save_form" role="form">
							<input type="hidden" name="id">
							<div class="form-group">
								<label for="boxName" class="col-sm-4 control-label">商品名称</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="boxName" value="星际宝盒" readonly>
								</div>
							</div>
							<div class="form-group">
								<label for="account" class="col-sm-4 control-label">用户</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="account" placeholder="请输入用户">
								</div>
							</div>
							<div class="form-group">
								<label for="buyAmount" class="col-sm-4 control-label">数量</label>
								<div class="col-sm-8">
									<input type="number" class="form-control" name="buyAmount" placeholder="请输入数量">
								</div>
							</div>
							<div class="form-group">
								<label for="price" class="col-sm-4 control-label">单价</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="price" placeholder="请输入单价">
								</div>
							</div>
							<div class="form-group">
								<label for="sellTerm" class="col-sm-4 control-label">活动编号</label>
								<div class="col-sm-8">
									<input type="number" class="form-control" name="sellTerm" placeholder="请输入活动编号">
								</div>
							</div>
							<div class="form-group">
								<label for="paymentType" class="col-sm-4 control-label">支付方式</label>
								<div class="col-sm-8">
									<select class="form-control" name="paymentType">
										<option value="">其他</option>
										<option value="alipay">支付宝</option>
										<option value="wxpay">微信</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="userName" class="col-sm-4 control-label">收货人</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="userName" placeholder="请输入收货人">
								</div>
							</div>
							<div class="form-group">
								<label for="userTel" class="col-sm-4 control-label">联系电话</label>
								<div class="col-sm-8">
									<input type="number" class="form-control" name="userTel" placeholder="请输入联系电话">
								</div>
							</div>
							<div class="form-group">
								<label for="userEmail" class="col-sm-4 control-label">邮箱</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="userEmail" placeholder="请输入联系邮箱">
								</div>
							</div>
							<div class="form-group">
								<label for="userZipCode" class="col-sm-4 control-label">邮编</label>
								<div class="col-sm-8">
									<input type="number" class="form-control" name="userZipCode" placeholder="请输入联系邮箱">
								</div>
							</div>
							<div class="form-group">
								<label for="receivingAddress" class="col-sm-4 control-label">收货地址</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="receivingAddress" placeholder="请输收货地址">
								</div>
							</div>
						</form>
						<div style="clear:both;"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary commit">保存</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
	<script src="../assets/js/jquery.min.js"></script>
	<script src='../assets/js/bootstrap.min.js'></script>
	<script src='../assets/js/bootbox.min.js'></script>
	<script src='../assets/js/datetimepicker.js'></script>
	<script src="../assets/js/vue.min.js"></script>
	<script src='../assets/js/util.js'></script>
	<script>
	function getCookieValue(name) {
		var name = escape(name);
		var allcookies = document.cookie;
		name += "=";
		var pos = allcookies.indexOf(name);
		if (pos != -1) {
			var start = pos + name.length;
			var end = allcookies.indexOf(";", start);
			if (end == -1) end = allcookies.length;
			var value = allcookies.substring(start, end);
			return (value);
		} else {
			return "";
		}
	}
	var ID = getCookieValue('manage');
	var url = location.href;
	var num = url.indexOf("?");
	var tradeNumber = num < 0 ? '' : url.substr(num + 1);
	if (ID == '') {
		window.location.href = './login.html'
	}
	if(tradeNumber) {
		$('#trade_number').val(tradeNumber);
	}

	var tradeList = new Vue({
		el: '#example',
		data: {
			list: [],
			searchData: {}
		},
		methods: {
			getTradeList: function(curPage) {
				var self = this;
				self.searchData.curPage = curPage;
				$.ajax({
					type: 'POST',
					async: false,
					url: '/promo/manage/trade/loadTrades',
					data: self.searchData,
					success: function(data) {
						self.list = data.list;
						$('#pager').empty().pagination(curPage, data.total, data.count, self.getTradeList);
					},
				});
			},
			detail: function(index) {
				var self = this;
				var trade = self.list[index];
				$('#myModal [data-tp]').map(function() {
					var type = $(this).data('tp');
					var value = trade[type];
					$(this).find('div span').text(value || '无');
				});
				$('#myModal').modal('toggle');
			},
			refund: function(tradeNo, price, index) {
				var self = this;
				bootbox.confirm({
					buttons: {
					   confirm: {
						   label: '确认',
						   className: 'btn-primary'
					   },
					   cancel: {
						   label: '取消',
						   className: 'btn-default'
					   }
					},
					message: '确定退款<b>' + price + '</b>元？',
					callback: function(result) {
						if(result) {
							$.ajax({
								type: 'POST',
								async: false,
								url: '/promo/manage/trade/refund',
								data: {tradeNumber: tradeNo},
								success: function(data) {
									if(data.isSuccess) {
										Util.globalTopTip("退款成功", "top_success", 2000, $('body'), !0);
										Vue.set(self.list, index, data.trade);
										// self.getTradeList(1);
									}else if(data.isFail) {
										Util.globalTopTip("退款失败", "top_error", 2000, $('body'), !0);
									}else if(data.reqError) {
										Util.globalTopTip("异常", "top_error", 2000, $('body'), !0);
									}
								}
							});
						}
					},
					title: "请确认"
				});
			},
			gathering: function(tradeNo, index) {
				var self = this;
				bootbox.confirm({
					buttons: {
					   confirm: {
						   label: '确认',
						   className: 'btn-primary'
					   },
					   cancel: {
						   label: '取消',
						   className: 'btn-default'
					   }
					},
					message: '确定收到款项？',
					callback: function(result) {
						if(result) {
							$.ajax({
								type: 'POST',
								async: false,
								url: '/promo/manage/trade/gathering',
								data: {tradeNumber: tradeNo},
								success: function(data) {
									if(data.isSuccess) {
										Vue.set(self.list, index, data.trade);
									}else if(data.isFail) {
										Util.globalTopTip("失败", "top_error", 2000, $('body'), !0);
									}else if(data.reqError) {
										Util.globalTopTip("异常", "top_error", 2000, $('body'), !0);
									}
								}
							});
						}
					}
				});
			}
		}
	});

	$(function() {

		$('#search_btn').on('click', function() {
			tradeList.searchData.tradeNumber = $('.search-form input[name=trade_number]').val();
			tradeList.searchData.account = $('.search-form input[name=account]').val();
			tradeList.searchData.status = $('.search-form [name=status]').val();
			tradeList.searchData.coupon = $('.search-form [name=coupon]').val();
			tradeList.searchData.time1 = $('.search-form input[name=time1]').val();
			tradeList.searchData.time2 = $('.search-form [name=time2]').val();
			tradeList.getTradeList(1);
		});

		$.ajax({
			type: 'POST',
			async: false,
			url: '/promo/manage/outh',
			data: {
				passMD5: ID
			},
			success: function(data) {
				if (data.fail) {
					window.location.href = './login.html';
					return;
				}
				$('#search_btn').trigger('click');
			}
		});

		$.get('./header.html', function(data) {
			$('body').prepend(data);
			$('.navbar li:eq(1)').addClass('active');
		});

		$('#time1, #time2').datetimepicker({
			format: 'yyyy-mm-dd 00:00:00'
		}).on('changeDate', function(ev){
			if($(this).is('#time1')){
				$('#time2').datetimepicker('setStartDate', ev.date);
			}else if($(this).is('#time2')){
				$('#time1').datetimepicker('setEndDate', ev.date);
				$(this).val(ev.date.format('yyyy-MM-dd') + " 23:59:59");
			}
		});

		//添加订单
		$('#add_btn').on('click', function() {
			$('#addModal').modal('toggle');
		});

		$('#addModal .commit').on('click', function() {
			$('#save_form input').removeClass('has-error');
			var texts = $('#save_form input[type!=hidden]');
			for(var i = 0, len = texts.length; i < len; i++) {
				if(texts.eq(i).val() == '') {
					texts.eq(i).on('blur', function() {
						if(texts.eq(i).val() != '') {
							$(this).off('blur').parents('.form-group').removeClass('has-error');
						}
					}).parents('.form-group').addClass('has-error');
					return;
				}
			}
			$.ajax({
				type: 'POST',
				async: false,
				url: '/promo/manage/trade/addTrade',
				data: $('#save_form').serialize(),
				success: function(data) {
					if(data.isSuccess) {
						$('#myModal').modal('hide');
						Util.globalTopTip(data.created ? "添加成功" : '修改成功', "top_success", 2000, $('body'), !0);
						Manage.searchData = {};
						Manage.getUserlist(1);
					}else {
						Util.globalTopTip("异常", "top_error", 2000, $('body'), !0);
					}
				}
			});
		});

		//导出
		$('#export_btn').on('click', function() {
			$.ajax({
				type: 'POST',
				async: false,
				url: '/promo/manage/trade/export',
				data: $('.search-form').serialize(),
				success: function(data) {
					if(data.isSuccess) {
						let down = document.createElement('a');
						down.href = '/download/' + data.file;
						document.body.appendChild(down);
						down.click();
						document.body.removeChild(down);
					}else {
						Util.globalTopTip("异常", "top_error", 2000, $('body'), !0);
					}
				}
			});
		});
	});
	</script>
</body>
</html>