<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<link rel="icon" href="../assets/images/title.png" type="image/png" sizes="16x16">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="../assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="../assets/css/datetimepicker.css">
	<link rel="stylesheet" href="../assets/css/manage/manage.css">
	<title>后台管理中心</title>
	<style type="text/css" media="screen">
	.user_list tbody tr td:not(:first-child) {
		-webkit-user-select: none;
	}
	</style>
</head>
<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel panel-default search-panel">
				<form class="form-inline search-form">
					<div class="row">
						<div class="form-group">
							<label for="trade_number">订单号</label>
							<input type="text" class="form-control" id="trade_number" style="width:240px;" name="trade_number">
						</div>
						<div class="form-group">
							<label for="account">用户</label>
							<input type="email" class="form-control" id="account" name="account">
						</div>
						<div class="form-group">
							<label for="user_name">收货人</label>
							<input type="email" class="form-control" id="user_name" name="user_name">
						</div>
					</div>
					<div class="row">
						<div class="form-group btns">
							<button class="btn btn-primary" type="button" id="search_btn">搜索</button>
						</div>
					</div>
				</form>
			</div>
			<!-- Table -->
			<table class="table table-hover">
				<thead>
					<tr>
						<th>订单号</th>
						<th>用户</th>
						<th>收货人</th>
						<th>收获地址</th>
						<th>购买台数</th>
						<th>金额</th>
						<th>状态</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody id="example">
					<tr v-for='(item, index) in list'>
						<td>{{ item.tradeNumber }}</td>
						<td>{{ item.account }}</td>
						<td>{{ item.userName }}</td>
						<td>{{ item.receivingAddress }}</td>
						<td>{{ item.buyAmount }}</td>
						<td>{{ item.totalRmb }}</td>
						<td>
							<span class="label" :class="item.status == 'ok' ? 'label-success' : item.status == 'cancel' ? 'label-default' : item.status == 'close' ? 'label-default' : item.status == 'refund' ? 'label-info' : 'label-warning'">
								{{ item.status == 'ok' ? '已付款' : item.status == 'cancel' ? '已取消' : item.status == 'close' ? '已关闭' : item.status == 'refund' ? '已退款' : '待付款' }}
							</span>
						</td>
						<td>
							<a class="btn btn-success btn-xs detail_btn" v-bind:data-id="item.id" target="_blank">详情</a>
							<button v-if="item.status == 'wait' || item.status == 'cancel' || item.status == 'close'" class="btn btn-success btn-xs" @click="gathering(item.tradeNumber)">确认收款</button>
							<button v-if="item.status == 'ok'" class="btn btn-success btn-xs" @click="refund(item.tradeNumber)">退款</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="pager"></div>
		<!-- 模态框（Modal） -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="width:450px;">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="myModalLabel">新增活动</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal col-xs-12" id="save_form" role="form">
							<input type="hidden" name="id">
							<div class="form-group">
								<label for="name" class="col-sm-3 control-label">名称</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" name="name" placeholder="请输入名称">
								</div>
							</div>
							<div class="form-group">
								<label for="maxAmount" class="col-sm-3 control-label">限购量</label>
								<div class="col-sm-8">
									<input type="number" class="form-control" name="maxAmount" placeholder="请输入限购数量">
								</div>
							</div>
							<div class="form-group">
								<label for="maxCount" class="col-sm-3 control-label">限购次数</label>
								<div class="col-sm-8">
									<input type="number" class="form-control" name="maxCount" placeholder="请输入限购次数">
								</div>
							</div>
							<div class="form-group">
								<label for="time1" class="col-sm-3 control-label">开始时间</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="time1" name="startAt" placeholder="请输入开始时间">
								</div>
							</div>
							<div class="form-group">
								<label for="time2" class="col-sm-3 control-label">结束时间</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="time2" name="endAt" placeholder="请输入结束时间">
								</div>
							</div>
							<div class="form-group">
								<label for="remark" class="col-sm-3 control-label">描述</label>
								<div class="col-sm-8">
									<textarea class="form-control" name="remark"></textarea>
								</div>
							</div>
						</form>
						<div style="clear:both;"></div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary commit">提交更改</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal -->
		</div>
	</div>
	<script src="../assets/js/jquery.min.js"></script>
	<script src='../assets/js/bootstrap.min.js'></script>
	<script src='../assets/js/datetimepicker.js'></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src='../assets/js/util.js'></script>
	<script>
	function getCookieValue(name) {
		var name = escape(name);
		var allcookies = document.cookie;
		name += "=";
		var pos = allcookies.indexOf(name);
		if (pos != -1) {
			var start = pos + name.length;
			var end = allcookies.indexOf(";", start);
			if (end == -1) end = allcookies.length;
			var value = allcookies.substring(start, end);
			return (value);
		} else {
			return "";
		}
	}
	var ID = getCookieValue('manage')
	if (ID == '') {
		window.location.href = './login.html'
	}

	var tradeList = new Vue({
		el: '#example',
		data: {
			list: [],
			searchData: {}
		},
		methods: {
			getTradeList: function(curPage) {
				var self = this;
				self.searchData.curPage = curPage;
				$.ajax({
					type: 'POST',
					async: false,
					url: '/promo/manage/trade/loadTrades',
					data: self.searchData,
					success: function(data) {
						tradeList.list = data.list;
						$('#pager').empty().pagination(curPage, data.total, data.count, self.getTradeList);
					},
				});
			},
			refund: function(tradeNo) {
				var self = this;
				$.ajax({
					type: 'POST',
					async: false,
					url: '/promo/manage/trade/refund',
					data: {tradeNumber: tradeNo},
					success: function(data) {
						if(data.isSuccess) {
							Util.globalTopTip("退款成功", "top_success", 2000, $('body'), !0);
							self.getTradeList(1);
						}else if(data.isFail) {
							Util.globalTopTip("退款失败", "top_error", 2000, $('body'), !0);
						}else if(data.reqError) {
							Util.globalTopTip("异常", "top_error", 2000, $('body'), !0);
						}
					},
				});
			},
			gathering: function(tradeNo) {
				// $.ajax({
				// 	type: 'POST',
				// 	async: false,
				// 	url: '/promo/manage/trade/gathering',
				// 	data: self.searchData,
				// 	success: function(data) {
				// 		tradeList.list = data.list;
				// 		$('#pager').empty().pagination(curPage, data.total, data.count, self.getTradeList);
				// 	},
				// });
			}
		}
	});

	$(function() {

		$.ajax({
			type: 'POST',
			async: false,
			url: '/promo/manage/outh',
			data: {
				passMD5: ID
			},
			success: function(data) {
				if (data.fail) {
					window.location.href = './login.html';
					return;
				}
				tradeList.getTradeList(1);
			}
		});

		$.get('./header.html', function(data) {
			$('body').prepend(data);
			$('.navbar li:eq(1)').addClass('active');
		});

		$('#search_btn').on('click', function() {
			tradeList.searchData.tradeNumber = $('.search-form input[name=trade_number]').val();
			tradeList.searchData.account = $('.search-form input[name=account]').val();
			tradeList.searchData.userName = $('.search-form input[name=user_name]').val();
			tradeList.getTradeList(1);
		});

	});
	</script>
</body>
</html>